<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title" >Users</title>
</head>

<body>
<div id="main" layout:fragment="content">
    <a class="btn btn-primary btn-sm"  th:href="@{new}" >Adicionar</a>
    <table class="table table-striped table-bordered">
        <caption class="text-center lead" >Add Title</caption>
        <thead>
        <tr>
            <th scope="col" >Id</th>
            <th scope="col" >Nome</th>
            <th scope="col" >Rua</th>
            <th scope="col" >Numero</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}">Id</td>
            <td th:text="${member.name}">Nome</td>
            <td th:text="${member.address.street}">Rua</td>
            <td th:text="${member.address.number}">Numero</td>

            <td> <a class="btn btn-primary btn-sm"  th:href="@{edit/} + ${member.id}" >Editar</a>
                <a class="btn btn-primary btn-sm"  th:href="@{delete/} + ${member.id}" >Remover</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>